* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*? esto le da estilo a todos los divs */
.cajas {
  border: 2px solid red;
  width: 120px;
  height: 120px;
}

.caja1 {
  background-color: #0a0a0a;
  position: relative;
}
.caja2 {
  background-color: #f50808;
  position: sticky;
  top: 20px;
}
.caja3 {
  background-color: #3ce244;
  position: fixed;
  right: 50px;
  top: 0;
}
.caja4 {
  background-color: #cffc2f;s
}
.caja5 {
  background-color: #9f34c9;
}
.caja6 {
  background-color: #f332a9;
}
